<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    title The Academy
    link(rel="shortcut icon" href="http://localhost:5757/favicon.ico?v=1")
    link(rel="apple-touch-icon" href="http://localhost:5757/favicon.png?v=1")
    link(rel="stylesheet" href="assets/styles/css/style.css")
  body
    div.header
      div.topbar
        div.runner
          img(src="assets/images/academyLogo.png")
        nav.mainNav
          ul
            li YEAH
            li <strong>The Academy</strong>
            li Building A
      div.featImg.col12
        div.featText.col-7
          h2 The Academy
          p Designed to serve as a tutorial supplement to individual home study programs, <strong>The Academy</strong> is committed to coming alongside of home educating parents and students in Middle, Junior and Senior High School.
    div.container.container--home
      div.row
        div.col-4.coursework.center
          h2 middle and highschool tutorials
          img(src="assets/images/coursework-home.svg")
          p Provides Coursework selected with the objective of assisting home educating parents in courses that may be a challenge to them or be out of their field of expertise or interest.
          a.primary-button(href="#") See All Courses
        //- PSEO
        div.col-4.center
          h2 PSEO Courses
          img(src="assets/images/coursework-home.svg")
          p Provides Coursework selected with the objective of assisting home educating parents in courses that may be a challenge to them or be out of their field of expertise or interest.
          a.primary-button(href="#") See All Courses
      div.row
        div.col-4.coursework.center
          img(src="assets/images/bios-home.svg")
          p Many diffrent tutorials from qualified professionals
          a.primary-button(href="#") Tutor Bios
      div.row
        div.col-4.coursework.center
          img(src="assets/images/no-sign-home.svg")
          p Not a “school” nor should it be considered for the majority of the coursework for a home school.
      div.row
        div.col-4.coursework.center
          img(src="assets/images/calendar-home.svg")
          p Many diffrent tutorials from qualified professionals
          a.primary-button(href="#") Download
