---
layout: bioList
title: Tutors Bios
category: bio
---
<div class="grid__title grid__title--bios">
<h2>Bios</h2>
<p>The goal of The Academy is to have Excellence in our classes by having Excellence in our Tutors. Tutors are highly qualified and experienced individuals, passionate about their field of study and excited to share it with youth. Tutors hold to Judeo-Christian values and world view and reflect this in their teaching, even if the course content is not specifically religions in nature.  Most have years of experience as home educators themselves.  Instructors for all PSEO courses at The Academy have been hired as adjunct professors by the college for these courses.  Syllabi of instructors for all AP courses have been approved by the AP College Board.</p>
</div>

<div class="grid__wrapper">
<div id="accordion">
{% assign sortedPosts = site.posts | sort: 'Name' %}
{% for post in sortedPosts %}
{% if post.layout contains 'bio' %}
	<h3 class="title bio-select"><a href="{{ post.url }}">{{ post.Name }}</a></h3>
	<div>{{ post.content }}</div>
{% endif %}
{% endfor %}
</div>
</div>
