@import 'jquery-ui.min.scss';
@import 'skeleton.scss';

html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}

// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans

// universal

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: $font-family;
  color: $dark-grey;
  line-height: $font-height;
}

.center{
  text-align: center;
}

// import them colors
$the-academy: #112648;
$building-a: #874e9c;
$yeah: #f8aa29;

// text styles (extends)
.big-headers {
	font-family: $font-family;
	font-size: 51px;
	font-weight: bold;
	color: #cd5445;
}

.homepage-titles {
	font-family: $font-family;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
	text-align: center;
	color: #4a4a4a;
	text-transform: uppercase;
}

.small-title {
	font-family: $font-family;
	font-size: 16px;
	font-weight: bold;
	color: $the-academy;
}

.text-body {
	font-family: $font-family;
	font-size: 14px;
	line-height: 1.43;
	color: #4a4a4a;
}

.primary-button{
  font-size: .87rem;
  font-weight: $font-weight-heavy;
  color: #ffffff;
  text-decoration: none;

  background-color: $the-academy;
  padding: .56rem 3.06rem;
  border-radius: 10px;
	display: inline-block;

	&:hover{
		color: #fff
	}
}

.disabled-button{
	@extend .primary-button;

	background-color: transparent;
	border: #F6D5E0 2px solid;
	color: #CB7773;
}
// styles
.header{

}
.topbar{
  background: $the-academy;

  display: flex;
  height: 4.6rem;
  justify-content: space-between;
}
.runner{
  margin-left: 4.37rem;
    @media(max-width: 550px){
      display: none;
    }
}
.mainNav{
  ul{
    list-style: none;
    display: flex;

    margin-right: 1rem;
    @media(max-width: 550px){
      align-items: center;
      margin-right: 0rem;
    }
    li{
      color: #fff;
      margin: 1.5rem 1rem;
      strong{
        color: #fff;
      }
    }
  }
}
.mainNav.small{
  @media(max-width: 630px){
  font-size: .8rem;
  li{
    margin: 1.7rem .8rem;
  }
}
}
// @path
.back_btn{
    margin: 1.5rem 1rem;
    a{
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid;
      font-weight: $font-weight-heavy;
    }
    @media(max-width: 630px){
      text-indent: -999999px;
    }
    img{
      display: none;
      @media(max-width: 630px){
          display: block;
          width: 40px;
          height: 40px;
          margin: -30px 0px;
      }
    }
}
// @path
.featImg{
  background: url('/images/feat-img.jpg') center;
  background-size: cover;

  margin: 0;
}
.featText{
  padding-top: 1.1rem;
  // hate myself
  margin-left: 15rem !important;
  @media(max-width: 550px){
    margin-left: 20px !important;
    width: 90%;
  }
		h2{
			font-size: 1.87rem;
			color: #fff;
			font-weight: $font-weight-heavy;
			margin-bottom: .5rem;
		}
    a{
      text-decoration: none;
      color: #ffffff;
    }
    p{
      color: #ffffff;
      font-weight: $font-weight-regular;
      letter-spacing: 1px;
			margin-top: .1rem;
    }
    strong{
      color: #ffffff;
      font-weight: $font-weight-heavy;
    }
}
// homepage main
.container--home{
	margin-top: 1.2rem;
	padding-bottom: 3.125rem;

	p{
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 1rem;
	}

	.primary-button{
		margin-bottom: 20px;
		min-width: 8rem;
	}
	// HACK
	.column, .columns{
		margin-top: 20px;
		margin-left: 0%;
	}
	.move-over{
		margin-left: 30px;
    @media(max-width: 630px){
      margin-left: 0;
    }
	}
  .align-bottom{
    height: 11rem;
    @media(max-width: 630px){
      height: inherit;
    }
  }
}
.post{
	width: 500px;
  margin: 10px 0;
  padding: 0 5px;
  margin-bottom: 10px;

  .primary-button{
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

    @media(max-width: 400px){
      width: 100%;
      margin: 20px 0;
    }
  }

  h3{
    font-weight: $font-weight-heavy;
    text-align: left;
    a{
      color: #000000;
      text-decoration: none;
    }
}
.grid__title{
  width: 300px;
  margin-top: -40px;
  z-index: -1;
  position: relative;
  h2{
    font-weight: 900;
    position: absolute;
    top: 40px;
    left: 50px;

    text-transform: uppercase;
    font-size: 3.187rem;
    @media(max-width: 630px){
        position: static;
        margin: 0 0 10px 10px;
    }
  }
  p{
    margin-top: 50px;
    margin-left: 30px;
    @media(min-width: 1300px){
      margin-top: 120px;
    }
    @media(max-width: 1300px){
        margin-left: 18.75rem;
        width: 30%;
        top: 20px;
    }
    @media(max-width: 630px){
        margin: 0 0 0 10px;
        width: 70%;
    }

  }
  @media(min-width: 1300px){
      position: absolute;
  }
  @media(max-width: 1300px){
    width: 100%;
    margin-bottom: 0px;
    margin-top: -40px;
  }
  @media(max-width: 630px){
    float: none;
    margin-top: 0;
    background: none;
    margin-bottom: 20px;
  }
}
// @path
.grid__title--course{
    background: url(/images/courses-logo.svg) left -30px no-repeat;
    height: 110px;
    p{
      @media(max-width: 1300px){
        top: 40px;
        position: relative;
      }
    }
    @media(max-width: 1300px){
        margin-top: 0px;
    }
}
// @path
.grid__title--bios{
    background: url(/images/bios-logo.svg) left -30px no-repeat;
    p{
      margin-top: 50px;
      margin-left: 30px;
      @media(min-width: 1300px){
        margin-top: 120px;
      }
      @media(max-width: 1300px){
          margin-top: 0px;
          margin-left: 15rem;
          width: 70%;
      }
      @media(max-width: 630px){
          margin: 0 0 0 10px;
          width: 90%;
      }

    }
    @media(max-width: 1300px){
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
}

.grid__legend{
  width: 200px;
  margin-top: 60px;
  margin-left: 25px;

  z-index: -1;
  position: relative;
  @media(min-width: 1300px){
      position: absolute;
      top: 22rem;
  }
  @media(max-width: 1300px){
      margin-top: 0px;
      margin-left: 53px;
      margin-bottom: 50px;
  }
  @media(max-width: 630px){
      position: static;
      margin: 0 0 10px 10px;
  }
  h2{
    font-weight: 900;
    position: relative;

    text-transform: uppercase;
    font-size: 2.5rem;
  }
  img{
    margin-top: 10px;
    margin-right: 10px;
    vertical-align: sub;
  }
  .icons{
    margin-top: -10px;
    @media(max-width: 1300px){
        margin-top: -60px;
        margin-left: 15.50rem;
        width: 100%;
    }
    @media(max-width: 630px){
        margin: 0 0 0 10px;
        width: 100%;
    }
  }
}
.grid__wrapper{
  position: relative;
  width: 100%;
  max-width: 1000px;


  @media(min-width: 1300px){
    margin-top: 10px;
    float: right;
  }
  @media(max-width: 1300px){
    margin: 0 auto;
  }
  @media(max-width: 1000px){
    padding-top: 30px;
    margin-top: 10px;
  }
  @media (max-width: 400px) {
      width: 100%;
      padding: 0;
  }
}
.meta, .meta strong{
  color: #7f8c8d;
}
.warning, .warning strong{
  color: #c0392b;
}
.spacer{
  margin-top: 50px;
}
.disclaimer{
  border-radius: 12px;
	border: solid 2px $the-academy;
}
//sorters
.sorters{
  text-align: center;
}
.sorters a{
  text-decoration: none;
  &:after{
    content: '|';
    margin: 0 5px;
  }
  &:first-child{
    &:before{
      content: '|';
      margin: 0 5px;
    }
  }
  @media(max-width: 630px){
    margin: 10px 0;
  }
}
.is-checked{
  font-weight: 900;
}
// quicksearch
.quicksearch{
  width: 95%;
  font-size: 1.2rem;
  margin: 0 0 0 20px;
  @media(max-width: 630px){
    margin: 0 10px;
  }
}
.ui-accordion-header{
  background: $the-academy;
  a{
    color: #fff;
  }
}
.ui-accordion-content h4{
  font-size: 1.2rem;
  font-weight: $font-weight-heavy;
  margin-top: 20px;
}
.m-small{
  @media(max-width: 630px){
    font-size: .8rem;
  }
}
