<div class="post">
  <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
  {% if post.tags contains 'new' %}
    <img src="../images/plus-simple-line-icons.svg" alt="new course" class="iconsWrap" />
  {% endif %}
  {% if post.tags contains 'AP' %}
    <img src="../images/badge-simple-line-icons.svg" alt="AP" class="iconsWrap" />
  {% endif %}
  {% if post.tags contains 'book-required' %}
    <img src="../images/book-open-simple-line-icons.svg" alt="book-required" class="iconsWrap" />
  {% endif %}
  <h4 class="meta"><strong>Tutor Name:</strong> {{post.TutorName}}</h4>
  {% if post.TargetGroup %}
  <h4 class="meta"><strong>Target Group:</strong> {{post.TargetGroup}}</h4>
  {% endif %}
  {% if post.ClassType %}
  <h4 class="meta"><strong>Class Type:</strong> {{post.ClassType}}</h4>
  {% endif %}
  {% if post.ClassSizeLimit %}
  <h4 class="warning"><strong>Class Size Limit:</strong> {{post.ClassSizeLimit}}</h4>
  {% endif %}
  {% if post.Prerequisite %}
  <h4 class="warning"><strong>Prerequisite:</strong> {{post.Prerequisite}}</h4>
  {% endif %}
  <div class="entry">
    {{ post.content | strip_html | truncatewords: 75 }}
  </div>
  <a href="{{ post.url }}" class="primary-button">More</a>
</div>
