div.header
  div.topbar
    div.runner
      img(src="assets/images/academyLogo.png")
    nav.mainNav
      ul
        li YEAH
        li <strong>The Academy</strong>
        li Building A
  div.featImg.col12
    div.featText.col-8
      h2 The Academy
      p Designed to serve as a tutorial supplement to individual home study programs, <strong>The Academy</strong> is committed to coming alongside of home educating parents and students in Middle, Junior and Senior High School.
