@import '../../tools/grid/simple-grid.scss';

// import them colors
$the-academy: #ad2620;
$building-a: #874e9c;
$yeah: #f8aa29;

// text styles (extends)
.big-headers {
	font-family: $font-family;
	font-size: 51px;
	font-weight: bold;
	color: #cd5445;
}

.homepage-titles {
	font-family: $font-family;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
	text-align: center;
	color: #4a4a4a;
}

.small-title {
	font-family: $font-family;
	font-size: 16px;
	font-weight: bold;
	color: $the-academy;
}

.text-body {
	font-family: $font-family;
	font-size: 14px;
	line-height: 1.43;
	color: #4a4a4a;
}

// styles

.header{

}
.topbar{
  background: $the-academy;

  display: flex;
  height: 4.6rem;
  justify-content: space-between;
}
.runner{
  margin-left: 4.37rem;
}
.mainNav{
  ul{
    list-style: none;
    display: flex;

    margin-right: 1rem;
    li{
      color: #fff;
      margin: .5rem 1rem;
      strong{
        color: #fff;
      }
    }
  }
}
.featImg{
  background: url('../../images/feat-img.jpg') center;
  background-size: cover;

  margin: 0;
  height: 13rem;
}
.featText{
  display: flex;
  padding-top: 1.1rem;
    p{
      color: #ffffff;
      font-weight: $font-weight-regular;
      letter-spacing: 1px;

      margin-left: 17.31rem;
    }
    strong{
      color: #ffffff;
      font-weight: $font-weight-heavy;
    }
}
