@import '../../tools/grid/simple-grid.scss';

// import them colors
$the-academy: #ad2620;
$building-a: #874e9c;
$yeah: #f8aa29;

// text styles (extends)
.big-headers {
	font-family: $font-family;
	font-size: 51px;
	font-weight: bold;
	color: #cd5445;
}

.homepage-titles {
	font-family: $font-family;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
	text-align: center;
	color: #4a4a4a;
	text-transform: uppercase;
}

.small-title {
	font-family: $font-family;
	font-size: 16px;
	font-weight: bold;
	color: $the-academy;
}

.text-body {
	font-family: $font-family;
	font-size: 14px;
	line-height: 1.43;
	color: #4a4a4a;
}

.primary-button{
  font-size: .87rem;
  font-weight: $font-weight-heavy;
  color: #ffffff;
  text-decoration: none;

  background-color: $the-academy;
  padding: .56rem 3.06rem;
  border-radius: 10px;
  margin-top: 2.31rem;
}

.disabled-button{
	@extend .primary-button;

	background-color: transparent;
	border: #F6D5E0 2px solid;
	color: #CB7773;
}
// styles

.header{

}
.topbar{
  background: $the-academy;

  display: flex;
  height: 4.6rem;
  justify-content: space-between;
}
.runner{
  margin-left: 4.37rem;
}
.mainNav{
  ul{
    list-style: none;
    display: flex;

    margin-right: 1rem;
    li{
      color: #fff;
      margin: .5rem 1rem;
      strong{
        color: #fff;
      }
    }
  }
}
.featImg{
  background: url('../../images/feat-img.jpg') center;
  background-size: cover;

  margin: 0;
  height: 15rem;
}
.featText{
  display: flex;
	flex-direction: column;
  // padding-top: 1.1rem;
		h2{
			font-size: 1.87rem;
			color: #fff;
			font-weight: $font-weight-heavy;

			margin-left: 17.31rem;
			margin-bottom: .5rem;
		}
    p{
      color: #ffffff;
      font-weight: $font-weight-regular;
      letter-spacing: 1px;

      margin-left: 17.31rem;
			margin-top: .1rem;
    }
    strong{
      color: #ffffff;
      font-weight: $font-weight-heavy;
    }
}
// homepage main
.container--home{
	padding-bottom: 3.125rem;
}

.coursework {
  padding-bottom: 3rem;
  padding-right: 2rem;
	margin: 0;

}
