<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">
<title>{{page.title}} || Academy Courses</title>
<link rel="shortcut icon" href="http://localhost:5757/favicon.ico?v=1"/>
<link rel="apple-touch-icon" href="http://localhost:5757/favicon.png?v=1"/>
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css"/>
<body>
  <div class="header">
    <div class="topbar">
      <div class="back_btn"><a href="/courses/">&larr; Back to Courses</a></div>
      <nav class="mainNav">
        <ul>
          <li>YEAH</li>
          <li><strong>The Academy</strong></li>
          <li>Building A</li>
        </ul>
      </nav>
    </div>
    </div>
  </div>
  <div class="container spacer">
  <div class="eight columns offset-by-one">
  <h2>{{ page.title }}</h2>
  <p class="meta">Date Posted: {{ page.date | date: "%B %d, %Y" }}</p>
    {{ content }}
    </div>
  </div>
</body>
</html>
