---
layout: courseList
title: Current Courses
category: courses
---
<div class="grid__title grid__title--course">
<h2>courses</h2>
<p>Below are all the courses offered and the times offered. We also offer a copy of this list in <a href="downloads/Academy-schedule-2017-18.pdf">PDF form</a> as well.</p>
</div>
<div class="grid__legend">
<h2>legend</h2>
<div class="icons">
<img src="../images/plus-simple-line-icons.svg" alt="new course"> New Course <br />
<img src="../images/badge-simple-line-icons.svg" alt="AP"> Advance Placement <br />
<img src="../images/book-open-simple-line-icons.svg" alt="book-required"> Book Required <br />
</div>
</div>
<div class="grid__wrapper">
<p><input type="text" class="quicksearch" placeholder="Search" /></p>
<div class="sorters">
<a href="#" data-filter="*">All</a>
<a href="#" data-filter=".arts">Fine Arts</a>
<a href="#" data-filter=".education">Educational & Life Skills</a>
<a href="#" data-filter=".english">English</a>
<a href="#" data-filter=".languages">Languages</a>
<a href="#" data-filter=".mathematics">Mathematics</a>
<a href="#" data-filter=".science">Science with Labs</a>
<a href="#" data-filter=".social">Social Studies</a>
</div>
<div class="grid">
{% assign sortedPosts = site.posts | sort: 'title' %}
{% for post in sortedPosts %}
{% if post.layout contains 'course' %}
	{% include posts.html %}
{% endif %}
{% endfor %}
</div>
</div>
