---
layout: courseList
title: Current Courses
category: courses
---
<div class="grid__title">
<h2>courses</h2>
<p>Below are all the courses offered and the times offered. We also offer a copy of this list in PDF form as well.</p>
</div>
<div class="u-cf"></div>
<div class="grid__legend">
<h2>legend</h2>
<div class="icons">
<img src="../images/plus-simple-line-icons.svg" alt="new course"> New Course <br />
<img src="../images/badge-simple-line-icons.svg" alt="AP"> Advance Placement <br />
<img src="../images/book-open-simple-line-icons.svg" alt="book-required"> Book Required <br />
</div>
</div>
<div class="grid">
{% for post in site.posts %}
  {% if post.categories contains 'courses' %}
	<div class="post">
    <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {% if post.tags contains 'new' %}
      <img src="../images/plus-simple-line-icons.svg" alt="new course">
    {% endif %}
    {% if post.tags contains 'AP' %}
      <img src="../images/badge-simple-line-icons.svg" alt="AP">
    {% endif %}
    {% if post.tags contains 'book-required' %}
      <img src="../images/book-open-simple-line-icons.svg" alt="book-required">
    {% endif %}
		<h4 class="meta"><strong>Tutor Name:</strong> {{post.TutorName}}</h4>
    {% if post.TargetGroup %}
    <h4 class="meta"><strong>Target Group:</strong> {{post.TargetGroup}}</h4>
    {% endif %}
    {% if post.ClassType %}
    <h4 class="meta"><strong>Class Type:</strong> {{post.ClassType}}</h4>
    {% endif %}
    {% if post.ClassSizeLimit %}
    <h4 class="warning"><strong>Class Size Limit:</strong> {{post.ClassSizeLimit}}</h4>
    {% endif %}
    {% if post.Prerequisite %}
    <h4 class="warning"><strong>Prerequisite:</strong> {{post.Prerequisite}}</h4>
    {% endif %}
		<div class="entry">
			{{ post.content | strip_html | truncatewords: 75 }}
		</div>
    <a href="{{ post.url }}" class="primary-button">More</a>
  </div>
  {% endif %}
{% endfor %}
</div>
