---
layout: courseList
title: Current Courses
category: courses
---
<div class="grid__title">
<h2>courses</h2>
<p>Below are all the courses offered and the times offered. We also offer a copy of this list in PDF form as well.</p>
</div>
<div class="u-cf"></div>
<div class="grid__legend">
<h2>legend</h2>
<div class="icons">
<img src="../images/plus-simple-line-icons.svg" alt="new course"> New Course <br />
<img src="../images/badge-simple-line-icons.svg" alt="AP"> Advance Placement <br />
<img src="../images/book-open-simple-line-icons.svg" alt="book-required"> Book Required <br />
</div>
</div>
<h2>Fine Arts</h2>
<div class="grid">
{% for post in site.posts %}
  {% if post.category contains 'arts' %}
	{% include posts.html %}
  {% endif %}
{% endfor %}
</div>
<h2>Education</h2>
<div class="grid">
{% for post in site.posts %}
  {% if post.category contains 'education' %}
	{% include posts.html %}
  {% endif %}
{% endfor %}
</div>
<h2>Languages</h2>
<div class="grid">
{% for post in site.posts %}
  {% if post.category contains 'languages' %}
	{% include posts.html %}
  {% endif %}
{% endfor %}

<h2>Mathematics</h2>
<div class="grid">
{% for post in site.posts %}
  {% if post.category contains 'mathematics' %}
	{% include posts.html %}
  {% endif %}
{% endfor %}
</div>
<h2>Psychology</h2>
<div class="grid">
{% for post in site.posts %}
  {% if post.category contains 'psychology' %}
	{% include posts.html %}
  {% endif %}
{% endfor %}
</div>

<h2>Science</h2>
<div class="grid">
{% for post in site.posts %}
  {% if post.category contains 'science' %}
	{% include posts.html %}
  {% endif %}
{% endfor %}
</div>

<h2>Social</h2>
<div class="grid">
{% for post in site.posts %}
  {% if post.category contains 'social' %}
	{% include posts.html %}
  {% endif %}
{% endfor %}
</div>
